/*/*/target
.settings
.project
.pydevproject
.classpath
target
bin
*.iml
.idea
.metadata
**/.externalToolBuilders/*
*.pyc
*.spyderproject
intellisense/node_modules/*
intellisense/scripts/**/*.pyc
*/.externalToolBuilders/*
MettlDb/
**/*.orig
common/test-resources/temp.zip
velocity.log
33/**
